{% extends 'base.html.twig' %}

{% block title %}add Cart
{% endblock %}

{% block body %}
	<h1>ajouter au panier</h1>
	{# {% if product is defined %}
		<a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-primary btnAddPanier">ajouter au panier</a>
	{% endif %} #}

	{{ include('cart/_form.html.twig') }}

	<a href="{{ path('app_cart_index') }}">back to list</a>
{% endblock %}
