{% extends 'base.html.twig' %}

{% block title %}Edit CategoriesBlog{% endblock %}

{% block body %}
    <h1>Edit CategoriesBlog</h1>

    {{ include('admin_categories_blog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_categories_blog_index') }}">back to list</a>

    {{ include('admin_categories_blog/_delete_form.html.twig') }}
{% endblock %}
