{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}


{% block content %}

	{% cspstyle %}
	<style>
		body main .container-fluid .container-fluid .card {width: 50rem;margin-top:5rem; background: rgba(117,148,189,0.5);
																							    background: linear-gradient(90deg, rgba(117,148,189,0.5) 15%, rgba(156,177,204,0.5) 61%, rgba(110,143,187,0.5) 100%);}
																			body main .container-fluid .container-fluid .card .card-body {color:white;}	
																			body main .container-fluid .container-fluid .container-fluid .card  {width: 50rem;margin-top:5rem; background: rgba(117,148,189,0.5);
																													    background: linear-gradient(90deg, rgba(117,148,189,0.5) 15%, rgba(156,177,204,0.5) 61%, rgba(110,143,187,0.5) 100%);}	
																		body main .container-fluid .container-fluid .container-fluid .card .card-body {color:white;}	
																		body main .container-fluid .container-fluid .container-fluid .card .card-body .card {width: 18rem; background: rgba(117,148,189,0.5);
																																									background: linear-gradient(90deg, rgba(117,148,189,0.5) 15%, rgba(156,177,204,0.5) 61%, rgba(110,143,187,0.5) 100%);}
																													
	body main .container-fluid .container-fluid  .container-fluid .coontainer-fluid .card .card-body .d-flex .card  {width: 18rem;}

	</style>
	{% endcspstyle %}





	<div class="container-fluid d-flex flex-row justify-content-center mt-5">
		<div class="ctnImg">
			<img src="{{asset('images/ai-generated-8678368_1280.png')}}" class="rounded mx-auto d-block img-thumbnail" alt="avatar-femme">
		</div>
		<div class="container-fluid colcenter ">
			<div class="card "
			
			>
				<div class="card-header">Qui sommes nous ?</div>
				<div class="card-body" >
					<h5 class="card-title">Tout à commencé</h5>
					<p class="card-text">Après avoir animé pendant plusieurs années aux Hespérides de boulogne un cours de gymnastique douce auprès de personnes agées, j'ai décidé de créer ce site pour pouvoir aussi proposer  aux personnes que je suis en osteopathie et à ceux qui le désirent des produits de qualité pour pratiquer une activité physique  et des ateliers pour les seniors.
																																																                                    Pour les femmes enceintes et les personnes qui ont des douleurs de dos  voici les produits qui pour moi pourront vous apporté une aide.</p>
				</div>
			</div>
			<div class="container-fluid d-flex flex-row justify-content-center ">
				<div class="container-fluid colcenter ">
					<div class="card " >
						<div class="card-header">Nos Valeurs</div>
						<div class="card-body " >
							<h5 class="card-title">En construction</h5>
							<div class="d-flex flex-row">
								<div class="card me-5" >
									<div class="card-body">
										<h5 class="card-title">Special title treatment</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
								<div class="card me-5" >
									<div class="card-body">
										<h5 class="card-title">Special title treatment</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	{% block footer %}
		{% include 'frag/footer.html.twig' %}
	{% endblock %}
{% endblock %}
