{% extends 'base.html.twig' %}

{% block title %}CGU - PhysioSport En Conscience
{% endblock %}


{% block body %}


	
		<div class="container my-5">
			<h1 class="text-center mb-4">Conditions Générales d'Utilisation</h1>

			<h2>Article 1 : Les mentions légales</h2>
			<dl class="row">
				<dt class="col-sm-3">Société</dt>
				<dd class="col-sm-9">SASU PhysioSport_En_Conscience, capital 3000€, RCS Paris 222 973 459 00011</dd>

				<dt class="col-sm-3">Adresse</dt>
				<dd class="col-sm-9">119 rue de Longchamp, 75116 Paris, France</dd>

				<dt class="col-sm-3">Téléphone</dt>
				<dd class="col-sm-9">+33667932244</dd>

				<dt class="col-sm-3">Email</dt>
				<dd class="col-sm-9">GaelleBal93370@gmail.com</dd>

				<dt class="col-sm-3">Directrice</dt>
				<dd class="col-sm-9">Gaëlle Bal</dd>

				<dt class="col-sm-3">TVA</dt>
				<dd class="col-sm-9">4507623</dd>

				<dt class="col-sm-3">Hébergeur</dt>
				<dd class="col-sm-9">OVH, 2 rue Kellermann, 59100 Roubaix, France - 09 72 10 10 07</dd>
			</dl>

			<h2>Article 2 : Accès au site</h2>
			<p>Le site www.PhysioSport_En_Conscience@ovh.fr propose :</p>
			<ul>
				<li>Cours de gymnastique douce pour seniors dispensés par un APA</li>
				<li>Vente d'articles de gymnastique douce et coussins d'allaitement</li>
			</ul>
			<p>L'accès est gratuit mais l'inscription est requise pour accéder aux services réservés.</p>

			<h2>Article 3 : Collecte des données</h2>
			<p>Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez des droits d'accès, rectification, suppression et opposition sur vos données personnelles :</p>
			<ul>
				<li>Par mail : GaelleBal93370@gmail.com</li>
				<li>Par courrier : 119 rue de Longchamp, 75116 Paris</li>
				<li>Via un formulaire de contact</li>
				<li>Via votre espace personnel</li>
			</ul>

			<h2>Article 4 : Propriété intellectuelle</h2>
			<p>Les marques, logos et contenus du site sont protégés par le Code de la propriété intellectuelle. Toute reproduction totale ou partielle est interdite sans autorisation préalable[1].</p>

			<h2>Article 5 : Responsabilité</h2>
			<p>Le site décline toute responsabilité concernant les erreurs ou omissions des informations diffusées, qui n'ont pas de valeur contractuelle. Le site ne peut être tenu responsable en cas de force majeure ou de faits d'un tiers[1].</p>

			<h2>Article 6 : Liens hypertextes</h2>
			<p>Le site www.PhysioSport_En_Conscience@ovh.fr ne contrôle pas les sites tiers auxquels mènent les liens hypertextes et n'est pas responsable de leur contenu[1].</p>

			<h2>Article 7 : Cookies</h2>
			<p>Des cookies sont utilisés pour le fonctionnement du site. Vous pouvez les désactiver dans les paramètres de votre navigateur[1].</p>

			<h2>Article 8 : Droit applicable et juridiction</h2>
			<p>Le droit français s'applique. En cas de litige, les tribunaux français seront seuls compétents[1].</p>
		</div>
	{% endblock %}

