
    <div class="container my-5">
        <h1 class="text-center mb-4">Conditions Générales de Vente</h1>

        <section>
            <h2 class="h3">1. Introduction</h2>
            <p>Bienvenue sur notre site. Les présentes conditions générales de vente (CGV) régissent les modalités de vente des produits et services proposés sur notre site.</p>
        </section>

        <section>
            <h2 class="h3">2. Identification de la société</h2>
            <p><strong>Nom de la société :</strong> SASU PhysioSport_En_Conscience<br>
            <strong>Adresse :</strong> 119 rue de Longchamp, 75116 Paris, France<br>
            <strong>Téléphone :</strong> +33667932244<br>
            <strong>Email :</strong> GaelleBal93370@gmail.com<br>
            <strong>Numéro de SIRET :</strong> 222 973 459 00011<br>
            <strong>Directrice de la publication :</strong>MME Gaëlle Bal Directrice</p>
        </section>

        <section>
            <h2 class="h3">3. Produits et services</h2>
            <p>Nos produits et services sont décrits et présentés avec la plus grande exactitude possible. Toutefois, si des erreurs ou omissions ont pu se produire quant à cette présentation, notre responsabilité ne pourrait être engagée.</p>
        </section>

        <section>
            <h2 class="h3">4. Prix</h2>
            <p>Les prix de nos produits sont indiqués en euros toutes taxes comprises (TTC), sauf indication contraire. Toutes les commandes, quelle que soit leur origine, sont payables en euros.</p>
        </section>

        <section>
            <h2 class="h3">5. Commande</h2>
            <p>Vous pouvez passer commande en ligne à partir des références des offres visibles sur notre site. Les informations contractuelles sont présentées en langue française et feront l'objet d'une confirmation au plus tard au moment de votre validation de commande.</p>
        </section>

        <section>
            <h2 class="h3">6. Paiement</h2>
            <p>Le fait de valider votre commande implique pour vous l'obligation de payer le prix indiqué. Le règlement de vos achats s'effectue par carte bancaire grâce au système sécurisé Stripe.</p>
        </section>

        <section>
            <h2 class="h3">7. Livraison</h2>
            <p>Les produits sont livrés à l'adresse de livraison que vous avez indiquée au cours du processus de commande. En cas de retard d'expédition, un mail vous sera adressé pour vous informer d'une éventuelle conséquence sur le délai de livraison qui vous a été indiqué.</p>
        </section>

        <section>
            <h2 class="h3">8. Rétractation</h2>
            <p>Conformément aux dispositions de l'article L.121-21 du Code de la Consommation, vous disposez d'un délai de rétractation de 14 jours à compter de la réception de vos produits pour exercer votre droit de rétractation sans avoir à justifier de motifs ni à payer de pénalité.</p>
        </section>

        <section>
            <h2 class="h3">9. Garanties</h2>
            <p>Nos produits bénéficient de la garantie légale de conformité et de la garantie contre les vices cachés, prévues par les articles 1641 et suivants du Code Civil. En cas de non-conformité d'un produit vendu, il pourra être retourné, échangé ou remboursé.</p>
        </section>

        <section>
            <h2 class="h3">10. Responsabilité</h2>
            <p>La société SASU PhysioSport_En_Conscience n'a qu'une obligation de moyens pour toutes les étapes d'accès au site, du processus de commande à la livraison ou aux services postérieurs. La responsabilité de SASU PhysioSport_En_Conscience ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet.</p>
        </section>

        <section>
            <h2 class="h3">11. Propriété intellectuelle</h2>
            <p>Tous les éléments du site sont et restent la propriété intellectuelle et exclusive de SASU PhysioSport_En_Conscience. Nul n'est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu'ils soient logiciels, visuels ou sonores.</p>
        </section>

        <section>
            <h2 class="h3">12. Données personnelles</h2>
            <p>La société SASU se réserve le droit de collecter les informations nominatives et les données personnelles vous concernant. Elles sont nécessaires à la gestion de votre commande, ainsi qu'à l'amélioration des services et des informations que nous vous adressons.</p>
        </section>

        <section>
            <h2 class="h3">13. Règlement des litiges</h2>
            <p>Les présentes conditions générales de vente sont soumises à la loi française. En cas de litige, les tribunaux français seront seuls compétents.</p>
        </section>

        <footer class="mt-5">
            <p class="text-center">&copy; 2024 SASU PhysioSport_En_Conscience - Tous droits réservés.</p>
        </footer>
    </div>

    
