{% extends 'base.html.twig' %}

{% block title %}Mention legale - PhysioSport En Conscience
{% endblock %}


{% block body %}
	<div class="container">
		<h2>Mentions Légales</h2>
		<p>L'édition du site est assurée par la Société SASU PhysioSport_En_Conscience au capital de 3000,00 euros, immatriculée au RCS de paris sous le numéro 222 973 459 00011, dont le siège social est situé au 119 rue de longchamp 75116 Paris, France.</p>

		<p>Numéro de téléphone : +33667932244<br>
			Adresse e-mail : GaelleBal93370@gmail.com</p>

		<p>Le Directeur de la publication est : Gaëlle Bal<br>
			Numéro de TVA intracommunautaire : 4507623</p>

		<p>L'hébergeur du site www.PhysioSport_En_Conscience@ovh.fr est la société OVH, dont le siège social est situé au 2 rue Kellermann – 59100 Roubaix – France, avec le numéro de téléphone : 09 72 10 10 07.</p>
	</div>

{% endblock %}
