{% extends 'base.html.twig' %}

{% block title %}CGU - PhysioSport En Conscience
{% endblock %}


{% block body %}


	<div class="container">
		<h2>Politique de Cookies</h2>
		<p>L'Utilisateur est informé que lors de ses visites sur le site, un cookie peut s'installer automatiquement sur son logiciel de navigation.</p>

		<h3>Qu'est-ce qu'un cookie ?</h3>
		<p>Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l'ordinateur de l'Utilisateur par son navigateur et qui sont nécessaires à l'utilisation du site. Les cookies ne contiennent pas d'information personnelle et ne peuvent pas être utilisés pour identifier quelqu'un. Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme.</p>

		<h3>À quoi servent les cookies ?</h3>
		<ul>
			<li>Les cookies nous permettent d'analyser la fréquentation du site afin d'en améliorer la navigation et les contenus.</li>
			<li>Certains cookies sont essentiels au fonctionnement du site et à l'accès aux différents services et personnalisations.</li>
		</ul>

		<h3>Votre consentement</h3>
		<p>En naviguant sur le site, l'Utilisateur accepte l'utilisation des cookies décrits ci-dessus. L'Utilisateur peut toutefois désactiver ces cookies par l'intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>

		<p>À défaut d'acceptation, l'Utilisateur est informé que certaines fonctionnalités ou pages risquent de lui être refusées.</p>
	</div>

{% endblock %}
