{% extends 'base.html.twig' %}

{% block title %}Politique de retours et d'échanges
{% endblock %}

{% block body %}


	<div class="container">
		<h1>Politique de retours et d'échanges</h1>

		<div
			class="resume-politique">
			<!--Résumé de la politique d'échange et de retour-->
			<p>
				Nous nous efforçons de vous offrir des produits de haute qualité.
				      Cependant, si pour une raison quelconque vous n'êtes pas satisfait de
				      votre commande, vous pouvez retourner les articles défectueux dans
				      les 30 jours suivant la réception. Les articles doivent être
				      renvoyés dans leur emballage d'origine, sans aucune trace
				      d'utilisation. Contactez notre service client pour faire suivre la
				      procédure de retour.
			</p>
		</div>

		<h2>Procédure de retour</h2>
		<div class="procedure-retour">
			<ul>
				<li>
					Contactez notre service client dans les 30 jours suivant la
					        réception de votre commande.
				</li>
				<li>
					Fournissez une description détaillée du problème rencontré
					        avec votre commande.
				</li>
				<li>
					Suivez les instructions du service client pour retourner
					        les articles défectueux.
				</li>
				<li>
					Nous vous rembourserons intégralement ou remplacerons
					        gratuitement les articles défectueux.
				</li>
			</ul>
		</div>

		<h2>Procédure d'échange</h2>
		<div class="procedure-echange">
			<ul>
				<li>
					Contactez notre service client dans les 30 jours suivant la
					        réception de votre commande.
				</li>
				<li>
					Fournissez une description détaillée du problème rencontré
					        avec votre commande.
				</li>
				<li>
					Suivez les instructions du service client pour retourner
					        les articles défectueux.
				</li>
				<li>
					Nous vous rembourserons intégralement ou remplacerons
					        gratuitement les articles défectueux.
				</li>
			</ul>
		</div>

		<div
			class="resume-politique">
			<!--Résumé de la politique d'échange-->
			<p>
				Nous nous efforçons de vous offrir des produits de haute qualité.
				      Cependant, si pour une raison quelconque vous n'êtes pas satisfait de
				      votre commande, vous pouvez retourner les articles défectueux dans
				      les 30 jours suivant la réception. Les articles doivent être
				      renvoyés dans leur emballage d'origine, sans aucune trace
				      d'utilisation. Contactez notre service client pour faire suivre la
				      procédure de retour.
			</p>
		</div>
	</div>

{% endblock %}
