{% extends 'base.html.twig' %}

{% block title %}New CommentsBlog{% endblock %}

{% block body %}
    <h1>Create new CommentsBlog</h1>

    {{ include('admin_comments_blog/_form.html.twig') }}

    <a href="{{ path('app_admin_comments_blog_index') }}">back to list</a>
{% endblock %}
