{# <footer>
	<div class="footer0 rowBetween">
		<div class="footer1 colCenter">
			<h3>Qui sommes nous ?</h3>
			<p>
				Après avoir animé pendant plusieurs années aux Hespérides de boulogne un cours de gymnastique douce auprès de personnes agées, j'ai décidé de créer ce site pour pouvoir aussi proposer  aux personnes que je suis en osteopathie et à ceux qui le désirent des produits de qualité pour pratiquer une activité physique  et des ateliers pour les seniors.
				            Pour les femmes enceintes et les personnes qui ont des douleurs de dos  voici les produits qui pour moi pourront vous apporté une aide.


			</p>
		</div>
		<div class="footer2 colCenter">
			<h3>Catégories</h3>
			<ul class="colCenter">
				<li>
					<a href="#">Maternité</a>
				</li>
				<li>
					<a href="#">sport pour le dos</a>
				</li>
				<li>
					<a href="#">seniors</a>
				</li>

			</ul>
		</div>

		<div class="footer3 colCenter">
			<h3>contact</h3>

			<!-- formulaire de contact -->
			<form id="contact-form" class="formulaire colCenter" action="" method="post">
				<input type="text" placeholder="Nom"/>
				<input type="text" placeholder="Prénom"/>
				<input type="email" placeholder="Email"/>
				<textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
				<button type="submit">Envoyer</button>
			</form>
		</div>
		<!-- réseau sociaux -->

		<div class="CtnMediaSocial colCenter">
			<h3>Nous rejoindre sur les reseaux sociaux</h3>
			<div class="ctnIconesSocial rowCenter">
				<div class="ctnicone colCenter">
					<i class="fa-brands fa-twitter"></i>
				</div>
				<div class="ctnicone colCenter">
					<i class="fa-brands fa-instagram"></i>
				</div>
				<div class="ctnicone colCenter">
					<i class="fa-brands fa-linkedin"></i>
				</div>
			</div>

		</div>
	</div>

	<span class="border"></span>

	<div class="footer4 rowAround">

		<p>CGV</p>
		<p>mentions légales</p>
		<p>cookies</p>
		<p>protection des données</p>
		<p>© 2024 - Tous droits réservés - E-commerce 2024</p>

	</div>
</footer> #}


<footer>

	<div class="row">
		<div class="col-12 col-md-3 mb-3">
			<div class="card border-light mb-3" >
				<div class="card-header">Qui sommes nous ?</div>
				<div class="card-body">
					<h5 class="card-title">Tout à commencé</h5>
					<p class="card-text">Après avoir animé pendant plusieurs années aux Hespérides de boulogne un cours de gymnastique douce auprès de personnes agées, j'ai décidé de créer ce site pour pouvoir aussi proposer  aux personnes que je suis en osteopathie et à ceux qui le désirent des produits de qualité pour pratiquer une activité physique  et des ateliers pour les seniors.
					Pour les femmes enceintes et les personnes qui ont des douleurs de dos  voici les produits qui pour moi pourront vous apporté une aide.</p>
				</div>
			</div>

		</div>

		<div class="col-12 col-md-3 mb-3">
			<div class="card" >
				<div class="card-header">
					Catégories
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Maternité</li>
					<li class="list-group-item">sport pour le dos</li>
					<li class="list-group-item">seniors</li>
				</ul>
			</div>
		</div>

		 <div class="col-12 col-md-3 mb-3"> 


			 <h4 class="mb-3">Contact</h4> 
			<form class="needs-validation" novalidate="">
				 <div class="row g-3">
					<div class="col-sm-6">
						<label for="firstName" class="form-label">First name</label>
						<input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
						<div class="invalid-feedback">
							Valid first name is required.
						</div>
					</div>

					<div class="col-sm-6">
						<label for="lastName" class="form-label">Last name</label>
						<input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
						<div class="invalid-feedback">
							Valid last name is required.
						</div>
					</div>


					<div class="col-12">
						<label for="email" class="form-label">Email
							<span class="text-body-secondary">(Optional)</span>
						</label>
						<input type="email" class="form-control" id="email" placeholder="you@example.com">
						<div class="invalid-feedback">
							Please enter a valid email address for shipping updates.
						</div>
					</div>

					<textarea class="form-control" id="" rows="3" placeholder="Message"></textarea>


					<button class="w-100 btn btn-primary btn-lg" type="submit">Envoyer</button>
				</div> 
			</form> 

			
		 </div> 


		<div class="col-12 col-md-3 mb-2">
			<div class="card" >
				<div class="card-header">
					Nous rejoindre sur les reseaux sociaux
				</div>
				<div class="d-flex justify-content-center">
					<div class="p-2">
						<i class="fab fa-twitter"></i>
					</div>
					<div class="p-2">
						<i class="fab fa-instagram"></i>
					</div>
					<div class="p-2">
						<i class="fab fa-linkedin"></i>
					</div>
				</div>
			</div>
		</div>


		<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">


			<p>CGV</p>
			<p>mentions légales</p>
			<p>cookies</p>
			<p>protection des données</p>
			<p>© 2024 - Tous droits réservés - E-commerce 2024</p>

		</div>
	</div>

</footer>
