{# <footer>
	<div class="footer0 rowBetween">
		<div class="footer1 colCenter">
			<h3>Qui sommes nous ?</h3>
			<p>
				Après avoir animé pendant plusieurs années aux Hespérides de boulogne un cours de gymnastique douce auprès de personnes agées, j'ai décidé de créer ce site pour pouvoir aussi proposer  aux personnes que je suis en osteopathie et à ceux qui le désirent des produits de qualité pour pratiquer une activité physique  et des ateliers pour les seniors.
				            Pour les femmes enceintes et les personnes qui ont des douleurs de dos  voici les produits qui pour moi pourront vous apporté une aide.


			</p>
		</div>
		<div class="footer2 colCenter">
			<h3>Catégories</h3>
			<ul class="colCenter">
				<li>
					<a href="#">Maternité</a>
				</li>
				<li>
					<a href="#">sport pour le dos</a>
				</li>
				<li>
					<a href="#">seniors</a>
				</li>

			</ul>
		</div>

		<div class="footer3 colCenter">
			<h3>contact</h3>

			<!-- formulaire de contact -->
			<form id="contact-form" class="formulaire colCenter" action="" method="post">
				<input type="text" placeholder="Nom"/>
				<input type="text" placeholder="Prénom"/>
				<input type="email" placeholder="Email"/>
				<textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
				<button type="submit">Envoyer</button>
			</form>
		</div>
		<!-- réseau sociaux -->

		<div class="CtnMediaSocial colCenter">
			<h3>Nous rejoindre sur les reseaux sociaux</h3>
			<div class="ctnIconesSocial rowCenter">
				<div class="ctnicone colCenter">
					<i class="fa-brands fa-twitter"></i>
				</div>
				<div class="ctnicone colCenter">
					<i class="fa-brands fa-instagram"></i>
				</div>
				<div class="ctnicone colCenter">
					<i class="fa-brands fa-linkedin"></i>
				</div>
			</div>

		</div>
	</div>

	<span class="border"></span>

	<div class="footer4 rowAround">

		<p>CGV</p>
		<p>mentions légales</p>
		<p>cookies</p>
		<p>protection des données</p>
		<p>© 2024 - Tous droits réservés - E-commerce 2024</p>

	</div>
</footer> #}


<footer>

	<div class="row  justify-content-center  ">


		<div class="col-sm-6 col-lg-4 me-lg-5">
			<h3 class="mb-2 mt-5">Besoin d'aide?
			</h3>
			<a href=" {{path('app_contact')}} ">
				<h4 class="mb-1 contact">Contact</h4>
			</a>
			<a href="#">
				<h4 class="mb-1 contact">Faq</h4>
			</a>
			<a href="#">
				<h4 class="mb-1 contact">Livraison</h4>
			</a>
			<a href="#">
				<h4 class="mb-1 contact">Retour & Echange</h4>
			</a>


		</div>


		<div class="col-sm-6 w-25 ">

			<form class="mt-5">
				<h5>Subscribe to our newsletter</h5>
				<p>Monthly digest of what's new and exciting from us.</p>
				<div class="d-flex flex-column flex-sm-row w-100 gap-2">
					<label for="newsletter1" class="visually-hidden">Email address</label>
					<input id="newsletter1" type="text" class="form-control" placeholder="Email address">
					<button class="btn btn-primary" type="button">Subscribe</button>
				</div>
			</form>
			<div class=" card-iconeSocial ">
				<h4>
					Nous rejoindre sur les reseaux sociaux
				</h4>
				<div class="d-flex justify-content-center">
					<div class="p-2">
						<i class="fab fa-twitter"></i>
					</div>
					<div class="p-2">
						<i class="fab fa-instagram"></i>
					</div>
					<div class="p-2">
						<i class="fab fa-linkedin"></i>
					</div>
				</div>
			</div>
		</div>


		<div class="d-flex flex-column flex-sm-row justify-content-around py-4 my-4 border-top">


			<p>CGV</p>
			<p>mentions légales</p>
			<p>cookies</p>
			<p>protection des données</p>
			<p>© 2024 - Tous droits réservés - E-commerce 2024</p>

		</div>

		
	</div>

</footer>
