 <div class="containerCookies">
        
        <div class="cookies">
            <div class="coookies-text">
                <p>
                    En poursuivant, vous acceptez l'utilisation de cookies par le site afin de vous proposer des contenus adaptés et réaliser des statistiques.
                </p>
            </div>
            <div class="cookies-btn">
                <button class="btn btn-success">
                    Accepter les cookies
                </button>
                <button class="btn btn-deny">
                    Paramétrer les cookies
                </button>
            </div>
        </div>
    </div>
           