{% extends 'base.html.twig' %}

{% block title %}New Inscription{% endblock %}

{% block body %}
    <h1>Create new Inscription</h1>

    {{ include('inscription_cours_gymnastique_senior/_form.html.twig') }}

    <a href="{{ path('app_inscription_cours_gymnastique_senior_index') }}">back to list</a>
{% endblock %}
